workflow/Pre-data processing for RAG Agent.json
{
  "name": "Pre-data  processing for RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1aj1f19ZTXWKWKoZEgmhkhG4O9HgJslyi",
          "mode": "list",
          "cachedResultName": "Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aj1f19ZTXWKWKoZEgmhkhG4O9HgJslyi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -48
      ],
      "id": "85df58ff-3676-4600-b9be-c02aaf019823",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZYzmJ8sYoBvTSFeQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "132BewsTe8PTmRmNnewsqeILEKtQowwdM",
          "mode": "list",
          "cachedResultName": "alma knowledge base.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/132BewsTe8PTmRmNnewsqeILEKtQowwdM/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        -128
      ],
      "id": "e39f4064-338f-439c-8354-e3fd3769dc85",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZYzmJ8sYoBvTSFeQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -32,
        96
      ],
      "id": "088e3eb4-72ea-4de1-b1a1-e85598115222",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        80
      ],
      "id": "d550cdd5-5231-4710-be43-807dc8a95eac",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "t4WImZZMWQQKDUcP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n",
          "mode": "list",
          "cachedResultName": "rag-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -224,
        -176
      ],
      "id": "dabc3119-c33a-4fa9-a164-76f90a85eda8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Sk9PzRget2b3n9ay",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "feb7c892-d4d9-4213-a37f-3891f0e76410",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e490eda231ca4395fde9f518dc4f31c13384f46c4841482d118c2803c2781e9d"
  },
  "id": "12zbx8lpcqr6DFnU",
  "tags": []
}