workflow/RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there!\nI am a Alma's AI Assistant. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        -256
      ],
      "id": "12adeb6e-4f79-49bd-ad01-64ada90785a7",
      "name": "When chat message received",
      "webhookId": "fea5e8bd-e855-4f6b-91c5-4698756a27b6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are You are Alma’s AI assistant.\n\nYour role is to answer questions about Alma’s projects (AlmaHarvest, AlmaMaps, AlmaForum) using the provided knowledge base. \nAlways follow these rules:\n\n1. If the answer exists in the knowledge base respond strictly based on that information. Provide concise, accurate, and user-friendly answers and in avery simple language.\n\n2. If the knowledge base does not contain the answer, \n   perform a Google search to retrieve reliable information. \n   Summarize the findings clearly and only from trustworthy sources.\n\n3. If neither the knowledge base nor Google has relevant information, \npolitely tell the user that the information is not available.\n\n4. When answering, always mention the source of the information (e.g., “According to AlmaMaps backend docs” or “Based on Google results”).\n\n5. Keep responses clear, professional, and easy to understand. \n   Use simple language when replying to normal users and more technical explanations if the question is from a technical user.\n\nYour ultimate goal is to ensure users, technical stakeholders, and potential investors receive \ncorrect, context-aware, and trustworthy answers about Alma’s projects.\na helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -912,
        -304
      ],
      "id": "18bff316-4e75-45e6-8cef-a10046f58bf2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1136,
        16
      ],
      "id": "6a337e5e-e30b-42a9-8cf2-97f6a200653a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t4WImZZMWQQKDUcP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }} {{ $json.chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -912,
        -64
      ],
      "id": "bd14ee10-a43d-4bac-be60-c43af757d04e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Alma's Details "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -672,
        -128
      ],
      "id": "9e74e049-a4bb-47a0-890f-b133e0081e7e",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n",
          "mode": "list",
          "cachedResultName": "rag-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -720,
        64
      ],
      "id": "08b3d6aa-8bcf-4b1a-a09c-4de61321fb9f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "VPzd3lY6vwnVRWot",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        240
      ],
      "id": "73b977fe-3ef6-4281-a15f-e55c286ce621",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "t4WImZZMWQQKDUcP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "bd47131c-ba28-4a38-ad55-57a26c96b3f5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "t4WImZZMWQQKDUcP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2cc1686-9730-4a13-b460-de1f834544ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e490eda231ca4395fde9f518dc4f31c13384f46c4841482d118c2803c2781e9d"
  },
  "id": "f1CoXjF7DHVzpxgD",
  "tags": []
}